<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>login.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketForm</servlet-name>
        <servlet-class>user.TicketForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTicketForm</servlet-name>
        <servlet-class>user.ProcessTicketForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateBarcodeServlet</servlet-name>
        <servlet-class>user.GenerateBarcodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyTicket</servlet-name>
        <servlet-class>user.VerifyTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectUser</servlet-name>
        <servlet-class>login.RedirectUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReport</servlet-name>
        <servlet-class>admin.AdminReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>admin.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TariffForm</servlet-name>
        <servlet-class>admin.TariffForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTariffForm</servlet-name>
        <servlet-class>admin.ProcessTariffForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>admin.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdmin</servlet-name>
        <servlet-class>admin.CreateAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/CheckLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketForm</servlet-name>
        <url-pattern>/user/TicketForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTicketForm</servlet-name>
        <url-pattern>/user/ProcessTicketForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateBarcodeServlet</servlet-name>
        <url-pattern>/GenerateBarcodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectUser</servlet-name>
        <url-pattern>/RedirectUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReport</servlet-name>
        <url-pattern>/admin/GetReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/admin/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TariffForm</servlet-name>
        <url-pattern>/admin/TariffForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyTicket</servlet-name>
        <url-pattern>/user/VerifyTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTariffForm</servlet-name>
        <url-pattern>/admin/ProcessTariffForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenerateBankReport</servlet-name>
        <servlet-class>admin.GenerateBankReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankReport</servlet-name>
        <servlet-class>admin.BankReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateBankReport</servlet-name>
        <url-pattern>/admin/GenerateBankReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankReport</servlet-name>
        <url-pattern>/admin/BankReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenerateReport</servlet-name>
        <servlet-class>admin.GenerateReportForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateReport</servlet-name>
        <url-pattern>/admin/GenerateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/admin/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdmin</servlet-name>
        <url-pattern>/admin/CreateAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
